<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Comment Id:<%= com.id %></h1>
    <h2><%=com.comments%>-<%= com.username %></h2>
    <a href="/comments" class="href">Go back</a>
    <a href="/comments/<%= com.id %>/edit ">Edit</a>
    <form method="POST" action="/comments/<%= com.id %>?__method=DELETE">
        <button>Delete</button>
    </form>
</body>
</html>